*{
    margin:0;
    padding: 0;
}

.box1{
    
    height:100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.innerbox{
    
    max-width: 750px;
    position:relative;
    
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    
    
}
.logo{
    width: 140px;
    position:relative;
    top: 15px;
    left: 32%;
}
.innerbox>h4{
    position: relative;
    color: lime;
    font-family: 'Inter', sans-serif;
    top: 17px;
    left: 24%;
}
.bar{
    background-color: lime;
    position:relative;
    display: inline-block;
    top: 18px;
    left: 0;
    text-align: center;
    margin: 5px;
    width: 70%;
    height: 27px;
    
}
.button{
    font-size: 10px;
    padding-top: 3px;
}

.battery1{
    background-color: rgba(243, 179, 61, 0.747);
    display: inline-block;
    position: relative;
    width: 55%;
    height: 20px;
    border-radius: 4px;
}
.battery2{
    background-color: limegreen;
    display: inline-block;
    position: relative;
    width: 70%;
    height: 20px;
    border-radius: 4px;
}
.battery3{
    background-color:rgb(224, 93, 93);
    display: inline-block;
    position: relative;
    width: 25%;
    height: 20px;
    border-radius: 4px;
}
#star{
    color: linen;
}
.via,.stato{
    font-family: 'Inter', sans-serif;
    color: linen;
    font-size: 10px;
}
.gino,.fede,.mike{
    font-size: 20px;
    font-family: 'Inter',sans-serif;
    color: linen;
}